Repository Capstone-AdCanvas/frontend, pull requests merged in 2025-05, with the labels that each got.

#39 [refactor/#38] AI Videos 초기 페이지 컴포넌트 리팩터링
  package-lock.json
  src/assets/logo-imageupload.png
  src/assets/logo-information.png
  src/assets/logo-prompt.png
  src/assets/logo-settings.png
  src/components/ImagetoVideo/ImagetoVideo.css
  src/components/ImagetoVideo/ImagetoVideo.jsx
  src/components/TexttoVideo/TexttoVideo.css
  src/components/TexttoVideo/TexttoVideo.jsx
  src/components/subcomponents/ImageUpload/ImageUpload.css
  src/components/subcomponents/ImageUpload/ImageUpload.jsx
  src/components/subcomponents/Information/Information.css
  src/components/subcomponents/Information/Information.jsx
  src/components/subcomponents/Prompt/Prompt.css
  src/components/subcomponents/Prompt/Prompt.jsx
  src/components/subcomponents/Settings/Settings.css
  src/components/subcomponents/Settings/Settings.jsx
  src/pages/AiVideos/AiVideos.css
  src/pages/AiVideos/AiVideos.jsx
  src/pages/AiVideos/ImagetoVideo/ImagetoVideo.css
  src/pages/AiVideos/TexttoVideo/TexttoVideo.css
  src/pages/AiVideos/TexttoVideo/TexttoVideo.jsx
  vite.config.js
Labels: 🔨 Refactor

#37 [design/#36] OnBoarding 페이지 퍼블리싱(피드백 반영)
  package-lock.json
  package.json
  src/pages/OnBoarding/OnBoarding.css
  src/pages/OnBoarding/OnBoarding.jsx
  src/pages/OnBoarding/Page1/OnBoardingPage1.css
  src/pages/OnBoarding/Page1/OnBoardingPage1.jsx
  src/pages/OnBoarding/Page2/OnBoardingPage2.css
  src/pages/OnBoarding/Page2/OnBoardingPage2.jsx
  src/pages/OnBoarding/Page3/OnBoardingPage3.css
  src/pages/OnBoarding/Page3/OnBoardingPage3.jsx
  src/pages/OnBoarding/Page4/OnBoardingPage4.css
  src/pages/OnBoarding/Page4/OnBoardingPage4.jsx
  src/pages/OnBoarding/Page5/OnBoardingPage5.css
  src/pages/OnBoarding/Page5/OnBoardingPage5.jsx
  src/styles/motion.js
Labels: 🎨 Html&css

#41 [feat/#40] Profile 페이지 기능구현(이미지 업로드, 라우팅)
  src/pages/Profile/Profile.css
  src/pages/Profile/Profile.jsx
Labels: ✨ Feature

#43 [feat/#42] Community와 MyCreatives 페이지 모달창 기능 구현
  src/assets/dummyimage.png
  src/assets/dummyvideo.mp4
  src/components/Box/Box.css
  src/components/Box/Box.jsx
  src/pages/Community/CommunityImage.css
  src/pages/Community/CommunityImage.jsx
  src/pages/Community/CommunityVideo.css
  src/pages/Community/CommunityVideo.jsx
  src/pages/MyCreatives/MyCreativesImage.css
  src/pages/MyCreatives/MyCreativesImage.jsx
  src/pages/MyCreatives/MyCreativesVideo.css
  src/pages/MyCreatives/MyCreativesVideo.jsx
Labels: ✨ Feature

#46 [design/#45] SideMenuBar와 MinisideMenuBar 퍼블리싱
  src/assets/AI Images.png
  src/assets/AI Videos.png
  src/assets/Community.png
  src/assets/Help.png
  src/assets/Logout.png
  src/assets/My Creatives.png
  src/assets/Profile.png
  src/components/MiniSideMenuBar/MinisideMenuBar.css
  src/components/MiniSideMenuBar/MinisideMenuBar.jsx
  src/components/SideMenuBar/SideMenuBar.css
  src/components/SideMenuBar/SideMenuBar.jsx
  src/components/subcomponents/Help/Help.css
  src/components/subcomponents/Help/Help.jsx
Labels: 🎨 Html&css

#48 [refactor/#47] Login 페이지 코드 리팩토링
  src/pages/Login/Login.css
  src/pages/Login/Login.jsx
Labels: 🔨 Refactor

#50 [refactor/#49] Community와 MyCreatives 모달창 리팩토링
  src/components/ModalImage/ModalImage.css
  src/components/ModalImage/ModalImage.jsx
  src/components/ModalVideo/ModalVideo.css
  src/components/ModalVideo/ModalVideo.jsx
  src/pages/Community/CommunityImage.css
  src/pages/Community/CommunityImage.jsx
  src/pages/Community/CommunityVideo.css
  src/pages/Community/CommunityVideo.jsx
  src/pages/MyCreatives/MyCreativesImage.css
  src/pages/MyCreatives/MyCreativesImage.jsx
  src/pages/MyCreatives/MyCreativesVideo.css
  src/pages/MyCreatives/MyCreativesVideo.jsx
Labels: 🔨 Refactor

#51 [Design/#44] Ai Videos페이지 퍼블리싱 완료
  src/assets/needPrompt.png
  src/components/ImagetoVideo/ImagetoVideo.css
  src/components/ImagetoVideo/ImagetoVideo.jsx
  src/components/MouseTrail/MouseTrail.jsx
  src/components/TexttoVideo/TexttoVideo.css
  src/components/TexttoVideo/TexttoVideo.jsx
  src/components/subcomponents/Information/Information.jsx
  src/components/subcomponents/Settings/Settings.jsx
  src/pages/AiVideos/AiVideos.css
  src/pages/AiVideos/AiVideos.jsx
  src/pages/AiVideos/components/BackgroundMusic/BackgroundMusic.css
  src/pages/AiVideos/components/BackgroundMusic/BackgroundMusic.jsx
  src/pages/AiVideos/components/ScriptEditor/ScriptEditor.css
  src/pages/AiVideos/components/ScriptEditor/ScriptEditor.jsx
  src/pages/AiVideos/components/TextBackgroundMusic/TextBackgroundMusic.css
  src/pages/AiVideos/components/TextBackgroundMusic/TextBackgroundMusic.jsx
  src/pages/AiVideos/components/TextScriptEditor/TextScriptEditor.css
  src/pages/AiVideos/components/TextScriptEditor/TextScriptEditor.jsx
  src/pages/AiVideos/components/VideoPreview/VideoPreview.css
  src/pages/AiVideos/components/VideoPreview/VideoPreview.jsx
Labels: 🎨 Html&css

#53 [Feat/#52] 회원가입 api연동기능 구현
  package-lock.json
  package.json
  src/api/user.js
  src/pages/Login/Login.css
  src/pages/Login/Login.jsx
  src/services/api.jsx
Labels: 📬 API

#57 [feat/#56] Login -> Profile 페이지 연동
  src/App.jsx
  src/api/user.js
  src/components/Header/Header.jsx
  src/components/SideMenuBar/SideMenuBar.jsx
  src/context/ProfileContext.jsx
  src/pages/Login/Login.css
  src/pages/Login/Login.jsx
  src/pages/Profile/Profile.css
  src/pages/Profile/Profile.jsx
Labels: 📬 API

#59 [Feat/#55] Ai Images 페이지 연동
  .gitignore
  src/api/image.js
  src/components/ImageUploadBox/ImageUploadBox.css
  src/components/ImageUploadBox/ImageUploadBox.jsx
  src/pages/AiImages/AiImages.jsx
  src/pages/AiImages/Step1/Step1.css
  src/pages/AiImages/Step1/Step1.jsx
  src/pages/AiImages/Step2/Step2.css
  src/pages/AiImages/Step2/Step2.jsx
  src/pages/AiImages/Step3/Step3.jsx
  src/pages/Login/Login.jsx
Labels: 📬 API

#61 [design/#58] UI 디자인 수정
  .dockerignore
  src/assets/adcanvas-logo.png
  src/assets/home-aiimage.png
  src/assets/home-aivideo.png
  src/assets/onboarding-button.jpg
  src/components/Header/Header.css
  src/components/Header/Header.jsx
  src/pages/Home/Home.css
  src/pages/Home/Home.jsx
  src/pages/OnBoarding/Page1/OnBoardingPage1.css
  src/pages/OnBoarding/Page1/OnBoardingPage1.jsx
  src/pages/OnBoarding/Page5/OnBoardingPage5.css
Labels: 🎨 Html&css

#63 [design/#62] 로딩 인디케이터 컴포넌트 퍼블리싱
  src/components/LoadingIndicator/LoadingIndicator.css
  src/components/LoadingIndicator/LoadingIndicator.jsx
Labels: 🎨 Html&css

#65 [Feat/#60] AiVideos페이지 연동완료
  src/api/merge.js
  src/api/video.js
  src/components/ImagetoVideo/ImagetoVideo.jsx
  src/components/TexttoVideo/TexttoVideo.jsx
  src/pages/AiVideos/AiVideos.jsx
  src/pages/AiVideos/components/VideoPreview/VideoPreview.jsx
  src/pages/Login/Login.jsx
Labels: 📬 API

#66 [feat/#64] MyCreatives와 Community 페이지 API 연동
  src/api/checkimage.js
  src/api/checkvideo.js
  src/api/uploadimage.js
  src/api/uploadvideo.js
  src/api/user.js
  src/components/ModalVideo/ModalVideo.jsx
  src/pages/Community/CommunityImage.jsx
  src/pages/Community/CommunityVideo.jsx
  src/pages/Login/Login.jsx
  src/pages/MyCreatives/MyCreativesImage.jsx
  src/pages/MyCreatives/MyCreativesVideo.jsx
  src/pages/Profile/Profile.jsx
Labels: 📬 API

#69 [refactor/#68] 이미지와 비디오 api 리팩토링 및 이미지 모달창 다운로드 해결
  src/api/checkimage.js
  src/api/checkvideo.js
  src/api/image.js
  src/api/uploadimage.js
  src/api/uploadvideo.js
  src/api/video.js
  src/components/ModalImage/ModalImage.jsx
  src/pages/Community/CommunityImage.jsx
  src/pages/Community/CommunityVideo.jsx
  src/pages/MyCreatives/MyCreativesImage.jsx
  src/pages/MyCreatives/MyCreativesVideo.jsx
  src/pages/Profile/Profile.jsx
Labels: 🔨 Refactor

#71 [Feat/#67] TTS 연동 완료
  src/api/tts.js
  src/pages/AiImages/Step1/Step1.jsx
  src/pages/AiImages/Step2/Step2.jsx
  src/pages/AiVideos/AiVideos.css
  src/pages/AiVideos/AiVideos.jsx
  src/pages/AiVideos/components/TextScriptEditor/TextScriptEditor.css
  src/pages/AiVideos/components/TextScriptEditor/TextScriptEditor.jsx
  src/pages/AiVideos/speechmodel.js
Labels: 📬 API

#73 [design/#70] UI 디자인 수정(피드백반영) 및 로그인 여부에따라 홈화면 및 다른페이지들 접속시 로그인창으로 넘어가게하기
  src/App.jsx
  src/assets/onboardingPage1-img6-1.png
  src/assets/onboardingPage1-img6-2.png
  src/components/MiniSideMenuBar/MinisideMenuBar.css
  src/components/MiniSideMenuBar/MinisideMenuBar.jsx
  src/pages/AiImages/AiImages.css
  src/pages/OnBoarding/Page1/OnBoardingPage1.css
  src/pages/OnBoarding/Page1/OnBoardingPage1.jsx
Labels: 🎨 Html&css

#77 [chore/#76] 젠킨스 파일설정
  Jenkinsfile
Labels: 🌏 Deploy

#78 [design/#74] 온보딩 UI 디자인 마무리
  src/assets/onboardingPage1-img1-1.png
  src/assets/onboardingPage1-img1-2.png
  src/assets/onboardingPage1-img2-1.png
  src/assets/onboardingPage1-img2-2.png
  src/assets/onboardingPage1-img3-1.png
  src/assets/onboardingPage1-img3-2.png
  src/assets/onboardingPage1-img4-1.png
  src/assets/onboardingPage1-img4-2.png
  src/assets/onboardingPage1-img5-1.png
  src/assets/onboardingPage1-img5-2.png
  src/assets/onboardingPage2-sample-img.png
  src/assets/onboardingPage3-sample-img.png
  src/assets/onboardingPage4-img1.png
  src/assets/onboardingPage4-img2.png
  src/assets/onboardingPage4-img3.png
  src/assets/onboardingPage4-img4.png
  src/pages/OnBoarding/Page2/OnBoardingPage2.css
  src/pages/OnBoarding/Page2/OnBoardingPage2.jsx
  src/pages/OnBoarding/Page3/OnBoardingPage3.css
  src/pages/OnBoarding/Page3/OnBoardingPage3.jsx
  src/pages/OnBoarding/Page4/OnBoardingPage4.css
  src/pages/OnBoarding/Page5/OnBoardingPage5.css
Labels: 🎨 Html&css

#79 [Feat/#72] text to image 연동 완료
  src/api/merge.js
  src/components/TexttoVideo/TexttoVideo.jsx
  src/pages/AiVideos/AiVideos.jsx
  src/pages/AiVideos/components/BackgroundMusic/BackgroundMusic.css
  src/pages/AiVideos/components/BackgroundMusic/BackgroundMusic.jsx
  src/pages/AiVideos/components/TextScriptEditor/TextScriptEditor.jsx
  src/pages/AiVideos/components/VideoPreview/VideoPreview.css
  src/pages/AiVideos/components/VideoPreview/VideoPreview.jsx
Labels: 📬 API

#83 [Feat/#80] 이미지 합성 연동 완료
  src/api/image.js
  src/assets/font-combos/Arial_545454_25.png
  src/assets/font-combos/Courier_38b6ff_25.png
  src/assets/font-combos/Dialog_b49efe_25.png
  src/assets/font-combos/Monospaced_162144_25.png
  src/assets/font-combos/SansSerif_ffbd59_25.png
  src/assets/font-combos/Serif_00bf63_25.png
  src/components/ImageUploadBox/ImageUploadBox.jsx
  src/pages/AiImages/AiImages.jsx
  src/pages/AiImages/Step1/Step1.jsx
  src/pages/AiImages/Step2/Step2.jsx
  src/pages/AiImages/Step3/Step3.css
  src/pages/AiImages/Step3/Step3.jsx
  src/pages/AiImages/Step4/Step4.css
  src/pages/AiImages/Step4/Step4.jsx
Labels: 📬 API

#91 [fix/#90] Home 화면 모달창 다운로드 구현
  src/pages/Home/Home.jsx
Labels: 🐞 BugFix
